/* 'HEADER' SECTION */

// .mobile-menu
//    &_hamburger
//       display: none
.menu
   &_mobile
      display: none
   &_tablet
      display: none
   &_desktop
      position: relative
      padding: 0px 62px
      background-color: $white
      &_logo
         position: absolute
         z-index: 1
         &_img
            width: 159px
            height: 96px
      &_navigation
         // position: relative
         display: flex
         justify-content: space-between
         text-align: center
         margin-left: 182px
         li
            list-style-type: none
            padding: 51px 0px 20px 22px
            &:last-child // Makes different changes on last li element
               padding-left: 51px
         a
            font-family: 'Montserrat', sans-serif
            text-decoration: none
            font-weight: 500
            font-size: 18px
            color: $black
      &::after
         background: url("../img/header2.png") bottom no-repeat
         content: ""
         position: absolute
         top: 85.07px
         left: 0
         width: 100%
         height: 34.93px



// 'INTRO' SECTION

.intro
   background: url("../../assets/img/sparkle_video.png") center center/cover no-repeat
   position: relative
   bottom: 47px
   width: 100%
   height: 722px
   z-index: -1
   &_video
      &_btn
         background: url("../../assets/icon/play.png") center no-repeat
         position: absolute
         top: 366px
         left: 50%
         width: 87px
         height: 84px
         border-radius: 100%
         transform: translate(-50%) // Half width of the block to the left
         border: none
         text-align: center



// 'ABOUT' SECTION

.about
   display: block
   margin: 0px auto
   padding: 150px 0px 169px 0px
   width: 654px
   .text-container
      p
         width: 654px
         height: 114px
         font-family: 'Montserrat', sans-serif
         font-size: 18px
         text-align: center
         color: $blue



// 'GALLERY' SECTION

.item1
   grid-area: image1

.item2
   grid-area: image2

.item3
   grid-area: image3

.item4
   grid-area: image4

.item5
   grid-area: image5
.gallery
   position: relative
   &_grid-container
      display: grid
      // grid-template-columns: repeat(4, 1fr)
      // grid-template-columns: repeat(383px, 383px, 383px, 383px, 383px)
      // grid-auto-rows: minmax(2, 1fr)
      grid-template-areas: 'image1 image2 image3 image4' 'image1 image2 image5 image4'
      
      > div
      &_img1
         background: url("../img/gallery/1.jpg") center center / cover no-repeat
         height: 382px
      &_img2
         background: url("../img/gallery/2.jpg") center center / cover no-repeat
         height: 382px
      &_img3
         background: url("../img/gallery/3.jpg") center center / cover no-repeat
         height: 191px
      &_img4
         background: url("../img/gallery/4.jpg") center center / cover no-repeat
         height: 382px
      &_img5
         background: url("../img/gallery/5.jpg") center center / cover no-repeat
         height: 191px
      &::before
         background: url("../../assets/img/gallery/before.png") bottom no-repeat
         content: ""
         position: absolute
         top: 0px
         left: 0px
         width: 100%
         height: 40px
      &::after
         background: url("../../assets/img/gallery/after.png") bottom no-repeat
         content: ""
         position: absolute
         bottom: 0px
         left: 0px
         width: 100%
         height: 40px



// 'AGREE' SECTION

.agree
   padding: 150px 0px 150px 0px
   &_container
      display: flex
      margin: 0px auto
      width: 987px
      justify-content: space-around
      &_1
         h2
            color: #2F4858
            text-align: center
            font-family: "Oswald"
            text-transform: uppercase
            font-size: 24px
            font-weight: 500
         button
            display: block
            margin: 0px auto
            margin-top: 50px
            width: 233px
            height: 50px
            border-radius: 25px
            border: none
            background-color: $orange
            color: $white
            font-family: 'Montserrat'
            font-size: 18px
            &:hover
               cursor: pointer
      &_2
         h2
            color: #2F4858
            text-align: center
            font-family: "Oswald"
            text-transform: uppercase
            font-size: 24px
            font-weight: 500
         button
            display: block
            margin: 0px auto
            margin-top: 50px
            width: 233px
            height: 50px
            border-radius: 25px
            border: none
            background-color: $orange
            color: $white
            font-family: 'Montserrat'
            font-size: 18px
            &:hover
               cursor: pointer
            


// 'CONTACTF' SECTION

.contactf
   padding: 0px 0px 150px 0px
   &_container
      margin: 0px auto
      width: 612px
      h3
         margin-bottom: 55px
         text-align: center
         font-family: 'Oswald'
         font-weight: 500
         font-size: 30px
         text-transform: uppercase
      p
         font-family: 'Montserrat'
         font-weight: 400
         font-size: 14px
         color: $blue
      &_check
         display: flex
         margin-top: 28px
         &_1
            margin-right: 21px
         &_2
            p
               font-family: 'Montserrat'
               font-weight: 400
               font-size: 14px
               color: $blue


input[type=text], textarea
   width: 612px
   height: 43px
   border: none
   background: rgba(196, 196, 196, 0.4)
   border-radius: 8px
   margin-top: 6px
   margin-bottom: 15px
   &::placeholder
      padding-top: 13px
      padding-left: 12px
      color: $blue
      font-family: 'Montserrat'
      font-weight: 400
      font-size: 18px
      line-height: 22px
      

input[type=submit]
   display: block
   margin: 0px auto
   margin-top: 50px
   border: none
   border-radius: 35px
   width: 182px
   height: 62px
   color: $white
   background-color: $orange
   font-family: 'Montserrat'
   font-weight: 500
   font-size: 24px
   &::hover
      cursor: pointer



// 'SPONSORS' SECTION

.sponsors
   position: relative
   padding: 70.41px 0px 150px 0px
   height: 481.59px
   background-color: $light-orange
   &_title
      font-family: 'Oswald'
      font-weight: 500
      font-size: 24px
      text-align: center
      color: $blue
   &_container
      display: flex
      justify-content: space-between
      align-items: center
      margin-top: 89px
   &::before
      position: absolute
      background: url("../../assets/img/sponsor/before.png") bottom no-repeat
      content: ""
      top: 0px
      left: 0px
      width: 100%
      height: 40px



// 'FTR' SECTION

footer
   position: relative
   height: 376px
   background-color: $blue
   &::before
      position: absolute
      background: url("../../assets/img/footer/before.png") bottom no-repeat
      content: ""
      top: -374px
      left: 0px
      width: 100%
      height: 375px
   .footer_column
      padding: 0px
      line-height: 26px
      h4
         align-content: space-between
         font-family: 'Montserrat'
         font-weight: 500
         font-size: 21px
         color: $white
      p
         font-size: 14px
         line-height: 18px
         font-family: 'Montserrat'
         color: $white
      &_p1
         margin-top: 70px
      &_p2
         margin-top: 51px
      ul
         list-style-type: none // Removes discs from each li element
         padding: 0px // Removes free space that shows after removing list-style-type
      li
         font-family: 'Montserrat'
         font-weight: 500
         font-size: 16px
         color: $white
      &_menu
         line-height: 40px
      &:last-child
         text-align: right
         .img_container
            margin-top: 52px
            img
               &:last-child
                  padding-left: 29px