// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

@media (min-width: 1200px) and (max-width: 1279px)

   .menu
      &_navigation
         li
            a
               font-size: 16px
   footer
      .container
         background-color: #646464




// Large devices (desktops, less than 1200px)
@media (min-width: 992px) and (max-width: 1199.98px)

   html,body
      overflow-x: hidden
      ///pateicoties šim noņemās baltās svītras labajā stūrī (responsivitātes laikā var pamanīt atšķirību)
   .menu
      &_navigation
         margin-left: 175px
         li
            padding-left: 14px
            &:last-child // Makes different changes on last li element
               padding-left: 23px
            a
               font-size: 13px
   footer
      .container
         background-color: #646464




// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px)

   .menu
      // padding: 74.01px 0px 10px 62px
      height: 74.01px
      &_logo
         top: 0px
         &_img
            width: 128px
            height: 81px
      &_navigation
         display: none
      &::after
         background-image: url("../img/tablet/header_after.png")
         top: 68.06px
      &_bar
         background-image: url("../icon/menu.png")
   .intro
      bottom: -5.3px
      height: 406px
      &_video
         &_btn
            top: 162px
   .about
      p
         width: 608px
   .agree
      &_container
         width: 100%
   .sponsors
      &_container
         .img1
            width: 144px
            height: 47px
         .img2
            width: 122.9px
            height: 46.9px
         .img3
            width: 142px
            height: 47px
         .img4 
            width: 49px
            height: 71px
   footer
      .container
         background-color: #757575
         div:nth-child(2)
               display: none
         div:nth-child(3)
               display: none




// Small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767.98px)

   .intro
      width: 768px
      height: 406px
   footer
      .container
         background-color: #888888



   
// Extra small devices (portrait phones, less than 576px)
@media (min-width: 320px) and (max-width: 575.98px)

   .menu
      // padding: 74.01px 0px 10px 62px
      height: 74.01px
      &_logo
         top: 0px
         &_img
            width: 128px
            height: 81px
      &_navigation
         display: none
      &::after
         background-image: url("../img/tablet/header_after.png")
         top: 68.06px
      &_bar
         background-image: url("../icon/menu.png")
   .intro
      width: 320px
      height: 169px
      // width: 987px
      // height: 520px
   footer
      .container
         background-color: #888888