/* 'HEADER' SECTION */
.menu {
  position: relative;
  padding: 0px 62px;
  background-color: #FFFFFF; }
  .menu_logo {
    position: absolute;
    z-index: 1; }
    .menu_logo_img {
      width: 159px;
      height: 96px; }
  .menu_navigation {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 182px; }
    .menu_navigation li {
      list-style-type: none;
      padding: 51px 0px 20px 22px; }
      .menu_navigation li:last-child {
        padding-left: 51px; }
    .menu_navigation a {
      font-family: "Montserrat", sans-serif;
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
      color: #000000; }
  .menu::after {
    background: url("../img/header2.png") bottom no-repeat;
    content: "";
    position: absolute;
    top: 85.07px;
    left: 0;
    width: 100%;
    height: 34.93px; }

.intro {
  background: url("../../assets/img/sparkle_video.png") center center/cover no-repeat;
  position: relative;
  bottom: 47px;
  width: 100%;
  height: 722px;
  z-index: -1; }
  .intro_video_btn {
    background: url("../../assets/icon/play.png") center no-repeat;
    position: absolute;
    top: 366px;
    left: 50%;
    width: 87px;
    height: 84px;
    border-radius: 100%;
    transform: translate(-50%);
    border: none;
    text-align: center; }

.about {
  display: block;
  margin: 0px auto;
  padding: 150px 0px 169px 0px;
  width: 654px; }
  .about p {
    width: 654px;
    height: 114px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-align: center;
    color: #2F4858; }

.item1 {
  grid-area: image1; }

.item2 {
  grid-area: image2; }

.item3 {
  grid-area: image3; }

.item4 {
  grid-area: image4; }

.item5 {
  grid-area: image5; }

.gallery {
  position: relative; }
  .gallery_grid-container {
    display: grid;
    grid-template-areas: "image1 image2 image3 image4" "image1 image2 image5 image4"; }
    .gallery_grid-container_img1 {
      background: url("../img/gallery/1.jpg") center center/cover no-repeat;
      height: 382px; }
    .gallery_grid-container_img2 {
      background: url("../img/gallery/2.jpg") center center/cover no-repeat;
      height: 382px; }
    .gallery_grid-container_img3 {
      background: url("../img/gallery/3.jpg") center center/cover no-repeat;
      height: 191px; }
    .gallery_grid-container_img4 {
      background: url("../img/gallery/4.jpg") center center/cover no-repeat;
      height: 382px; }
    .gallery_grid-container_img5 {
      background: url("../img/gallery/5.jpg") center center/cover no-repeat;
      height: 191px; }
    .gallery_grid-container::before {
      background: url("../../assets/img/gallery/before.png") bottom no-repeat;
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 40px; }
    .gallery_grid-container::after {
      background: url("../../assets/img/gallery/after.png") bottom no-repeat;
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 40px; }

.agree {
  padding: 150px 0px 150px 0px; }
  .agree_container {
    display: flex;
    margin: 0px auto;
    width: 987px;
    justify-content: space-around; }
    .agree_container_1 h2 {
      font-family: "Oswald";
      font-weight: 500;
      font-size: 24px;
      text-align: center; }
    .agree_container_1 button {
      display: block;
      margin: 0px auto;
      margin-top: 50px;
      width: 233px;
      height: 50px;
      border-radius: 25px;
      border: none;
      background-color: #FFA800;
      color: #FFFFFF;
      font-family: "Montserrat";
      font-size: 18px; }
      .agree_container_1 button:hover {
        cursor: pointer; }
    .agree_container_2 h2 {
      font-family: "Oswald";
      font-weight: 500;
      font-size: 24px;
      text-align: center; }
    .agree_container_2 button {
      display: block;
      margin: 0px auto;
      margin-top: 50px;
      width: 233px;
      height: 50px;
      border-radius: 25px;
      border: none;
      background-color: #FFA800;
      color: #FFFFFF;
      font-family: "Montserrat";
      font-size: 18px; }
      .agree_container_2 button:hover {
        cursor: pointer; }

.contactf {
  padding: 0px 0px 150px 0px; }
  .contactf_container {
    margin: 0px auto;
    width: 612px; }
    .contactf_container h3 {
      margin-bottom: 55px;
      text-align: center;
      font-family: "Oswald";
      font-weight: 500;
      font-size: 30px;
      text-transform: uppercase; }
    .contactf_container p {
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 14px;
      color: #2F4858; }
    .contactf_container_check {
      display: flex;
      margin-top: 28px; }
      .contactf_container_check_1 {
        margin-right: 21px; }
      .contactf_container_check_2 p {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 14px;
        color: #2F4858; }

input[type=text], textarea {
  width: 612px;
  height: 43px;
  border: none;
  background: rgba(196, 196, 196, 0.4);
  border-radius: 8px;
  margin-top: 6px;
  margin-bottom: 15px; }
  input[type=text]::placeholder, textarea::placeholder {
    padding-top: 13px;
    padding-left: 12px;
    color: #2F4858;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px; }

input[type=submit] {
  display: block;
  margin: 0px auto;
  margin-top: 50px;
  border: none;
  border-radius: 35px;
  width: 182px;
  height: 62px;
  color: #FFFFFF;
  background-color: #FFA800;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px; }
  input[type=submit]::hover {
    cursor: pointer; }

.sponsors {
  position: relative;
  padding: 70.41px 0px 150px 0px;
  height: 481.59px;
  background-color: #FFCB66; }
  .sponsors_title {
    font-family: "Oswald";
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #2F4858; }
  .sponsors_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 89px; }
  .sponsors::before {
    position: absolute;
    background: url("../../assets/img/sponsor/before.png") bottom no-repeat;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px; }

footer {
  position: relative;
  height: 376px;
  background-color: #2F4858; }
  footer::before {
    position: absolute;
    background: url("../../assets/img/footer/before.png") bottom no-repeat;
    content: "";
    top: -374px;
    left: 0px;
    width: 100%;
    height: 375px; }
  footer .footer_column {
    padding: 0px;
    line-height: 26px; }
    footer .footer_column h4 {
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 21px;
      color: #FFFFFF; }
    footer .footer_column p {
      font-size: 14px;
      color: #FFFFFF;
      line-height: 18px; }
    footer .footer_column_p1 {
      margin-top: 70px; }
    footer .footer_column_p2 {
      margin-top: 51px; }
    footer .footer_column ul {
      list-style-type: none;
      padding: 0px; }
    footer .footer_column li {
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF; }
    footer .footer_column_menu {
      line-height: 40px; }
    footer .footer_column:last-child {
      text-align: right; }
      footer .footer_column:last-child .img_container {
        margin-top: 52px; }
        footer .footer_column:last-child .img_container img:last-child {
          padding-left: 29px; }

@media (min-width: 1200px) and (max-width: 1279px) {
  .menu_navigation li a {
    font-size: 16px; }

  footer .container {
    background-color: #646464; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .menu_navigation {
    margin-left: 175px; }
    .menu_navigation li {
      padding-left: 14px; }
      .menu_navigation li:last-child {
        padding-left: 23px; }
      .menu_navigation li a {
        font-size: 13px; }

  footer .container {
    background-color: #646464; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .menu {
    height: 74.01px; }
    .menu_logo {
      top: 0px; }
      .menu_logo_img {
        width: 128px;
        height: 81px; }
    .menu_navigation {
      display: none; }
    .menu::after {
      background-image: url("../img/tablet/header_after.png");
      top: 68.06px; }
    .menu_bar {
      background-image: url("../icon/menu.png"); }

  .intro {
    bottom: 6.75px;
    width: 100%;
    height: 406px; }
    .intro_video_btn {
      top: 162px; }

  .about {
    padding: 150px 0px 150px 0px; }
    .about p {
      width: 608px;
      height: 140px; }

  .gallery_grid-container_img1 {
    width: 184px;
    height: 200px; }
  .gallery_grid-container_img2 {
    width: 188px;
    height: 206px; }
  .gallery_grid-container_img3 {
    width: 167px;
    height: 102px; }
  .gallery_grid-container_img4 {
    width: 229px;
    height: 216px; }
  .gallery_grid-container_img5 {
    width: 167px;
    height: 104px; }

  .agree_container {
    width: 100%; }
    .agree_container_1 h2 {
      font-size: 18px; }
    .agree_container_2 h2 {
      font-size: 18px; }

  .sponsors_container .img1 {
    width: 144px;
    height: 47px; }
  .sponsors_container .img2 {
    width: 122.9px;
    height: 46.9px; }
  .sponsors_container .img3 {
    width: 142px;
    height: 47px; }
  .sponsors_container .img4 {
    width: 49px;
    height: 71px; }

  footer .container {
    background-color: #757575; }
    footer .container .row {
      align-content: space-around; }
  footer .footer_hidden {
    display: none; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  footer .container {
    background-color: #888888; } }
@media (min-width: 320px) and (max-width: 575.98px) {
  .menu {
    height: 74.01px; }
    .menu_logo {
      top: 0px; }
      .menu_logo_img {
        width: 78px;
        height: 72px; }
    .menu_navigation {
      display: none; }
    .menu::after {
      background-image: url("../img/tablet/header_after.png");
      top: 68.06px; }
    .menu_bar {
      background-image: url("../icon/menu.png"); }

  .intro {
    bottom: 6.75px;
    width: 100%;
    height: 169px; }
    .intro_video_btn {
      top: 162px; }

  .about {
    padding: 80px 0px 80px 0px; }
    .about p {
      width: 280px;
      height: 124px; }

  .agree_container {
    display: block;
    width: 100%; }
    .agree_container_1 h2 {
      font-size: 18px; }
    .agree_container_2 h2 {
      font-size: 18px; }

  .contactf {
    padding: 0px 0px 121px 0px; }
    .contactf_container {
      width: 280px; }
      .contactf_container input[type=text] {
        width: 100%; }
      .contactf_container textarea {
        width: 280px;
        height: 150px; }

  footer .container {
    background-color: #888888; } }

/*# sourceMappingURL=style.css.map */
